$primary-color: #352D39;
$secondary-color: #6D435A;
$third-color: #797D81;


.navbar-main-container{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    border: 2px solid #000;

}

.logo-text-div .h1{
    font-size:25px;
    padding: 15px;
    margin: 0 25px;

}

.navbar-left ul li{
    list-style: none;
    float: left;
    padding: 15px;
    margin: 0 15px;
}